<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awei.dao.ShoppingCarMapper">

    <cache/>

    <select id="getShoppingCars" resultType="ShoppingCar">
        select * from t_shoppingcar where username = #{username}
    </select>

    <insert id="addProduct">
        insert into t_shoppingcar (username, proName, money)
        values (#{username},#{proName},#{money})
    </insert>

    <delete id="deleteProduct">
        delete from t_shoppingcar where id = #{id}
    </delete>

    <select id="getProductById" resultType="ShoppingCar">
        select * from t_shoppingcar where id = #{id}
    </select>

</mapper>