<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/css/viewlogin.css}">
    <script th:src="@{/js/JQuery.js}"></script>
</head>
<body>
<br>
<div class="cont">
    <div class="form sign-in">
        <h2>&nbsp;欢迎回来</h2><br/>
        <form method="post" th:action="@{/login}">
            <label>
                <span>用户名</span>
                <input type="text" name="username"/>
            </label>
            <label>
                <span>密码</span>
                <input type="password" name="password"/>
            </label>
            <br/>
            <p class="forgot-pass"><a th:href="@{/forget}" style="color: #cfcfcf">忘记密码？</a></p>
            <p th:if="${msg}" th:text="${msg}" class="forgot-pass" style="color: red"></p>
            <button type="submit" class="submit">登录</button>
        </form>
    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>新来的？</h2>
                <p>注册并发现大量的新机会！</p>
            </div>
            <div class="img__text m--in">
                <h2>我们其中一个？</h2>
                <p>如果你已经有帐户了，就登录吧。我们想你了！</p>
            </div>
            <div class="img__btn">
                <span class="m--up">注册</span>
                <span class="m--in">登录</span>
            </div>
        </div>
        <div class="form sign-up">
            <h2>是时候回家了</h2><br/>
            <form onsubmit="return false" action="##" method="post" id="form1">
                <label>
                    <span>用户名</span>
                    <input type="text" name="username" />
                </label>
                <label>
                    <span>密码</span>
                    <input type="password" name="password" />
                </label>
                <label>
                    <span id="1">邮箱</span>
                    <input type="email" name="email" />
                </label>
                <label>
                    <span id="2">电话</span>
                    <input type="text" name="phone" />
                </label>
                <button type="submit" class="submit" onclick="login()">注册</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.querySelector('.img__btn').addEventListener('click', function() {
        document.querySelector('.cont').classList.toggle('s--signup');
    });
</script>
<script type="text/javascript">
    function login() {
        $.ajax({
            type: "POST",
            // dataType: "json",
            url: "/logon" ,
            data: $('#form1').serialize(),
            success: function (result) {
                console.log(result)
                if (result==1){
                    $("#1").css('color','red')
                }else if (result==2){
                    $("#2").css('color','red')
                }else if (result==3){
                    alert("注册成功！")
                };
                if (result != 1){
                    $("#1").css('color','#cfcfcf');
                }else if(result != 2){
                    $("#2").css('color','#cfcfcf')
                }
            },
            error : function() {
                alert("用户名已存在！");
            }
        });
    }
</script>
</body>
</html>